body{
	margin: 0;
}
header{
	background-color: #578151;
	text-align: center;
}

h1, h2{
font-family: 'Rajdhani', sans-serif;
}

header h1{
	color:  white;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 50px;


}
header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 /*<- pour les valeurs haut et bas*/ auto; /*<-pour les valuers gauche droite*/ /*raccourci pour centrer les éléménts*/
	padding: 0 20px;
}
main img{
	max-width: 100%;
}